<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HEADLINES FINANCIAL TIMES</title>
  <link rel="shortcut icon" href="favicon.ico" />

  <script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
		if (cutsTheMustard) {
			// Swap the `core` class on the HTML element for an `enhanced` one
			// We're doing it early in the head to avoid a flash of unstyled content
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>
  <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons,o-header-services@^2.0.5,o-typography@^5.6.0,o-colors@^4.2.3,o-grid@^4.3.8"></script>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons,o-header-services@^2.0.5,o-fonts@^3.0.4,o-typography@^5.6.0,o-colors@^4.2.3,o-grid@^4.3.8"/>
<!-- reads software and returns polyfill for used browser -->
  <script src="https://polyfill.io/v2/polyfill.min.js"></script>

  <script>
		(function(src) {
			if (cutsTheMustard) {
				var o = document.createElement('script');
				o.async = o.defer = true;
				o.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(o, s);
			}
		}('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons,o-header-services@^2.0.5,o-typography@^5.6.0,o-colors@^4.2.3,o-grid@^4.3.8'));
	</script>

</head>
