<header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
		<div class="o-header__row o-header__top">
			<div class="o-header__container">
				<div class="o-header__top-wrapper">

					<div class="o-header__top-column o-header__top-column--left">
						<a href="#o-header-search" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search" title="Open search bar">
							<span class="o-header__top-link-label">Search</span>
						</a>
					</div>

					<div class="o-header__top-column o-header__top-column--center">
						<a class="o-header__top-logo" href="/" title="Go homepage">
							<span class="o-header__visually-hidden">Financial Times</span>
						</a>
					</div>

				</div>
			</div>
		</div>

		<div id="o-header-search" class="o-header__row o-header__search o--if-js" role="search" data-o-header-search="">
			<div class="o-header__container">
				<form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
					<label class="o-header__visually-hidden" for="o-header-search-term-js">Search</label>

					<input class="o-header__search-term" id="o-header-search-term-js" name="search" type="text" placeholder="Search the Financial Times"></input>
					<button class="o-header__search-submit" type="submit">Search</button>
					<button class="o-header__search-close" type="button" aria-controls="o-header-search" title="Close search bar">
						<span class="o-header__visually-hidden">Close</span>
					</button>
				</form>
			</div>
		</div>
    <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-header"/>
    <script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header"></script>
	</header>
