<!DOCTYPE html>

<html class='core'>
<% include ./partials/head %>
 <% include ./partials/header %>
 <body style="background-color:#FFF1E5; margin:0">
   <div align="center">
     <h3>Sorry, can't find this word in headlines, try again...</h3>
   </div>
</body>
</html>
