<!DOCTYPE html>

<html>
<head>
  <title>HEADLINES FINANCIAL TIMES</title>
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
 <% include ./header %>
  <ul><% for(var i=0; i<articles.length; i++) {%>
    <p>
    <ul>
      <b>
			  <a href=<%=articles[i].location.uri %> target="_blank">
				  <%= articles[i].title.title %>
			  </a>
      </b>
    <br>
		<%= articles[i].summary.excerpt %>...
		<br>
		<i><%= articles[i].editorial.byline %></i>
  </p>
			</ul>
			<% } %>
	</ul>

</body>
</html>
