<!DOCTYPE html>

<html class='core'>
<% include ./partials/head %>

<body style="background-color:#FFF1E5; margin:0">

    <style>
    .core .o--if-js,
    .enhanced .o--if-no-js {
      display: none !important;
    }
  </style>
 <% include ./partials/header %>
  <ul><% for(var i=0; i<articles.length; i++) {%>
    <p>
    <ul>
      <b>
			  <a href=<%=articles[i].location.uri %> target="_blank">
				  <%= articles[i].title.title %>
			  </a>
      </b>
    <br>
		<%= articles[i].summary.excerpt %>...
		<br>
		<i><%= articles[i].editorial.byline %></i>
  </p>
			</ul>
			<% } %>
	</ul>

</body>
</html>
